body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  background: #222;
}

.container {
  width: 70%;
  margin: 50px auto;
  padding: 10px;
  background: #333;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: left;
  box-sizing: border-box;
}

